
@font-face {
  font-family: 'Tiki_Tropic_Outline';
  src:  url('fonts/Tiki_Tropic_Outline.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiki_Tropic';
  src:  url('fonts/Tiki_Tropic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  min-width: 440px;
  background-color: #fff;

}
h1, h2{
  font-weight: 400;
}
.App {
  text-align: center;
}

.App-header {
  height: auto;
  padding: 5px 0 0px;
  font-family: 'Tiki_Tropic_Outline', sans-serif;
  -webkit-text-stroke: 4px #E83B18;
  letter-spacing: 4px;
  /* border-top: 5px solid #05386b;
  border-bottom: 5px solid #05386b; */
}

.App-title {
  font-size: 100px;
  color: #FF401A;
  margin: 0;
}

.App-intro {
  font-size: large;
}

/* media queries */
@media screen and (max-width:644px) {
  .App-header{
    padding: 20px 0 10px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
