html {
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}




li {
  list-style: none;
}
.hidden{
  display: none;
}

.dishes-list-entry{
  border-bottom: 1px solid;
  margin: 20px auto;
}
.dishes-list-entry img{
  height: 250px;
  width:auto;
}
.dishes-list-entry div:first-child{
  border-top: 1px solid;
}

.edit-button{
  margin-bottom: 10px;
}

.card-container {
  margin: 6px auto;
  position: relative;
  min-height: 580px;
  width: 444px;
  max-width: 444px;
  overflow: hidden;
  border-radius: 5px;
  z-index: 0;
}

/* heigt of .card needs to be 4px smaller than .card-container */
.card {
  background-size: cover;
  position: absolute;
  background: rgba(255,255,255,1);
  height: 540px;
  width: 424px;
  margin: 0px auto;
  padding: 8px;
  transition: box-shadow .3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;

}
.card:active{
  padding: 0px;
}
.card:focus{
  padding: 0px;
}
/* heigt of .card-contents needs to be 4px smaller than .cardr */
.card-contents{
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  height: 540px;
  width: 424px;
  background-color: #efefef;


}

.card-image{

  width: 424px;
  height: 424px;
  border-radius: 3px 3px 0 0;
  /* border-bottom: 4px solid #fff; */


}
.card-text{
  color: #000;
  padding-top: 15px;

}
.card-text h2{
  margin: 0;
  padding: 5px 0;

}
.card-text p{
  margin: 0;
  padding: 0 0 20px 0;

}

.animate {
  transition: transform .3s;
  box-shadow: none;
  border-radius: 5px;

}

.inactive {
  box-shadow: none;
  border-radius: 5px;

}

.alert {
  width: 45%;
  min-height: 10%;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .3s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
}

.alert-visible {
  opacity: 1;
}

.alert-right {
  top: 0;
  right: 0;
  background: green;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.alert-left {
  top: 0;
  left: 0;
  background: red;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.alert-top {
  background: purple;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
 }

 .alert-bottom {
  bottom: 0;
  background: blue;
  border-top-left-radius: 50px;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
 }
.edit-form-container{
  margin-bottom: 20px;
}
