@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/BrandonText-Regular/BrandonText-Regular.eot');
    src: url('../fonts/BrandonText-Regular/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonText-Regular/BrandonText-Regular.woff2') format('woff2'),
        url('../fonts/BrandonText-Regular/BrandonText-Regular.woff') format('woff'),
        url('../fonts/BrandonText-Regular/BrandonText-Regular.ttf') format('truetype'),
        url('../fonts/BrandonText-Regular/BrandonText-Regular.svg#BrandonText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'BrandonText', sans-serif;
  text-align: center;
  /* min-width: 440px; */
  background-color: #fff;

}
h1, h2{
  font-weight: 400;
}
.App {
  text-align: center;
}

.App-header {
  height: auto;
  /* border-top: 5px solid #05386b;
  border-bottom: 5px solid #05386b; */
}

.App-title {
  /* -webkit-text-stroke: 4px #9C479D; */
  font-size: 100px;
  color: #fe2a12;
  margin: 0;
}

.App-intro {
  font-size: large;
}

/* media queries */
@media screen and (max-width:768px){
  .App-header{
    height: 0px
  }
  .App-title{
    font-size: 30px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
