
@font-face {
  font-family: 'Tiki_Tropic_Outline';
  src:  url('../fonts/Tiki_Tropic_Outline.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiki_Tropic';
  src:  url('../fonts/Tiki_Tropic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  /* min-width: 440px; */
  background-color: #fff;

}
h1, h2{
  font-weight: 400;
}
.App {
  text-align: center;
}

.App-header {
  height: auto;
  padding: 5px 0 0px;
  letter-spacing: 4px;
  /* border-top: 5px solid #05386b;
  border-bottom: 5px solid #05386b; */
}

.App-title {
  font-family: 'Tiki_Tropic', sans-serif;
  -webkit-text-stroke: 4px #9C479D;
  font-size: 100px;
  color: #F7CB15;
  margin: 0;
}

.App-intro {
  font-size: large;
}

/* media queries */
@media screen and (max-width:644px) {
  .App-header{
    padding: 0;
  }
  .App-title{
    font-size: 85px;
  }
}

@media screen and (max-width:425px) {
  .App-header{
    height: 80px;
  }
  .App-title{
    font-size: 85px;
  }
}
@media screen and (max-width:400px) {
  .App-header{
    height: 90px;
  }
}
@media screen and (max-width: 375px){
  .App-header {
      height: 65px;
  }
  .App-title{
    font-size: 75px;
  }
}
@media screen and (max-width: 363px){
  .App-header {
      height: 100px;
  }
}
@media screen and (max-width: 338px){
  .App-header {
      height: 65px;
  }
  .App-title{
    font-size: 75px;

  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
