.review.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

}
.review.modal {
  position: absolute;
  color:#fff;
  background-color: transparent;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 5px;
  /* border: 1px solid; */
  outline: none;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

}
.review.modal-overlay-after-open{
  transform:scaleY(.01) scaleX(0);
  animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.review.modal-overlay-before-close{
  transform:scale(1);
  animation:unfoldOut .4s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

}


.review.modal-after-open{
  transform: scale(0);
  animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

}
.review.modal-before-close{
  animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

}
.review-close-button {
  color: #fff;
  position: relative;
  top: 5px;
  left: 36px;
  width: 50px;
  padding-right: 0;
  float: left;
}
.review-container{
  max-width: 700px;
  margin: 0 auto ;

}
.review-modal-header{
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
.review-modal-header h2{
  margin: 10px ;
}
.review-item-container{
  text-align: left;
  max-height: 250px;
  color:#fff;
  background-color: #000;
  border-radius: 5px;
}
.review-item-image{
  max-width: 250px;
  border-radius: 5px 0 0 5px;

}

.review-item-details{
  display: inline-block;
  vertical-align: top;
  margin: 20px ;
  padding-bottom: 10px;
  max-width: 410px;
}
.review-item-details .Restaurant-name{
  margin: 5px 0;

}

/* media queries */
@media screen and (max-width:644px) {
  .review.modal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #000;
  }

}
@media screen and (max-width:768px){
  .review-modal-header{
    margin: 0px 0px 20px;
    padding-right: 40px;
  }
  .review-close-button{
    left:-10px;
    position: sticky;
    z-index: 9993;
  }
  .review-item-container{
    max-height: 600px;;
    text-align: center;
    /* border-top: 1px solid #fff; */

  }
  .review-item-details{
    display: block;

  }
  .review-item-image{
    margin: 20px 0  0 0;
    max-width: 325px;
  }
}
/* keyframes */
@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}
