html {
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}




li {
  list-style: none;
}
.hidden{
  display: none;
}

.dishes-list-entry{
  border-top: 1px solid;
  margin: 20px auto;
  padding: 20px;
}
.dishes-list-entry img{
  height: 250px;
  width:auto;
}
.dishes-list-entry div:first-child{
  border-top: 1px solid;
}

.edit-button{
  margin-bottom: 10px;
}

.card-container {
  margin: 6px auto;
  position: relative;
  min-height: 660px;
  max-width: 444px;
  overflow: visible;
  border-radius: 5px;
  z-index: 0;
}

/* heigt of .card needs to be 4px smaller than .card-container */
.card {
  background-size: cover;
  position: absolute;
  background: rgba(255,255,255,1);
  height: auto;
  max-width: 424px;
  margin: 0px auto;
  padding: 10px;
  /* transition: box-shadow .3s; */
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  cursor: pointer;
  border-radius: 5px;

}
/* .card-contents
controls the width of main container
height must be 40px shorter card-container min-height
difference between heigh and width is the size of card-text
 */

.card-contents{
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  height: 620px;
  width: 424px;
  background-color: #efefef;
}

.card:last-child{
  padding: 0px;
}

.card.inactive:last-child > .card-contents{
  box-shadow: none
}
.animate {
  transition: transform .3s;
  box-shadow: none;
  border-radius: 5px;

}
/* heigt of .card-contents needs to be 4px smaller than .cardr */


.card-image{

  width: 100%;
  max-height: 424px;
  border-radius: 3px 3px 0 0;
  pointer-events: none;
  /* border-bottom: 4px solid #fff; */


}
.card-text{
  color: #000;
  padding-top: 15px;

}
.card-text h2{
  margin: 0;
  padding: 5px 0;

}
.card-text p{
  margin: 0;
  padding: 0 0 20px 0;

}

.inactive {
  box-shadow: none;
  border-radius: 5px;

}

.alert {
  width: 45%;
  min-height: 10%;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .3s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
}

.alert-visible {
  opacity: 1;
}

.alert-right {
  top: 0;
  right: 0;
  background: green;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.alert-left {
  top: 0;
  left: 0;
  background: red;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.alert-top {
  background: purple;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
 }

 .alert-bottom {
  bottom: 0;
  background: blue;
  border-top-left-radius: 50px;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
 }
.edit-form-container{
  margin-bottom: 20px;
}
@media screen and (max-width:768px){
  .card:hover{
    padding: 0;
  }
}
/* .card-contents{
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  height: 620px;
  width: 424px;
  background-color: #efefef;
} */
@media screen and (max-width:425px){
  .card-container{
    min-height: 575px;
  }
  .card-contents{
    height: 520px;
    width: 400px;
  }
}
@media screen and (max-width:411px){
  .card-container{
    min-height: 540px;
  }
  .card-contents{
    height: 500px;
    width: 390px;
  }
}
@media screen and (max-width:400px){
  .card-container{
    min-height: 550px;
  }
  .card-contents{
    height: 520px;
    width: 380px;
  }
}
@media screen and (max-width:390px){
  .card-container{
    min-height: 550px;
  }
  .card-contents{
    height: 490px;
    width: 350px;
  }
}
@media screen and (max-width:375px){
  .card-container{
    min-height: 510px;
  }
  .card-contents{
    height: 460px;
    width: 350px;
  }
}
@media screen and (max-width:363px){
  .card-container{
    min-height: 463px;
  }
  .card-contents{
    height: 434px;
    width: 330px;
  }
}

@media screen and (max-width:338px){
  .card-container{
    min-height: 428px;
  }
  .card-contents{
    height: 384px;
    width: 280px;
  }
}
