/* SwipeCard.scss */
@import "./utilities.scss";

li {
  list-style: none;
}
.hidden{
  display: none;
}
.App-header a{
  text-decoration: none;
}

.edit-button{
  margin-bottom: 10px;
}

.card-container {
  margin: 6px auto;
  position: relative;
  min-height: 637px;
  max-width: 444px;
  overflow: visible;
  border-radius: 5px;
  z-index: 0;
  top: -20px;
}
#cards{
  /* margin: 4px; */
}

.card {
  background-size: cover;
  position: absolute;
  background: $container-bkrnd;
  height: auto;
  margin: 0px auto;
  padding: 10px;
  /* transition: box-shadow .3s; */
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  cursor: pointer;
  border-radius: 5px;

}

.card-contents{
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  height: 620px;
  width: 424px;
  background-color: #efefef;
}

.card:last-child{
  padding: 0px;
}

.card.inactive:last-child > .card-contents{
  box-shadow: none
}
.card-contents .restaurant-name{

}
.animate {
  transition: transform .3s;
  box-shadow: none;
  border-radius: 5px;

}

.card-image{

  width: 100%;
  max-height: 424px;
  border-radius: 3px 3px 0 0;
  pointer-events: none;
  /* border-bottom: 4px solid #fff; */


}
.card-text .OpenClosed-container{
  /* display: none; */
}
.card-text{
  color: #000;
  padding-top: 15px;

}
/* 42 characaters */
.card-text h2{
  margin: 0 5px;
  font-size: 20px;
  font-weight: 700;

}
.card-text p{
  margin: 0;
  padding: 0 0 0px 0;

}

.inactive {
  box-shadow: none;
  border-radius: 5px;

}

.alert {
  width: 45%;
  min-height: 10%;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .3s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
}

.alert-visible {
  opacity: 1;
}

.alert-right {
  top: 0;
  right: 0;
  background: green;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.alert-left {
  top: 0;
  left: 0;
  background: red;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.alert-top {
  display: none;
  background: purple;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
 }

 .alert-bottom {
  display: none;
  bottom: 0;
  background: blue;
  border-top-left-radius: 50px;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
 }

 .info-modal-container{

 }
 .info-button, .info-button-loading{
   min-width: 50px;
   padding: 5px;
   position: absolute;
   bottom: 10px;
   left: 44%;
 }
 .card:nth-last-child(2) .info-button{
   margin: 0 0 10px 2px;
 }
 .info-icon{
   background-color: transparent;
   width: 100%;
   height: 100%;

 }
 .info-button svg:active{
   box-shadow: 0px 0px 20px 15px #8ee4af;
 }
 .info-button svg{
   color: #fff;
   border-radius: 50px;
 }
 .info-button{
   &.loading{
   // width: 50px;
   // height: 50px;
   // color: #fe2a12;
   // border-radius: 25px;
   // border: 1px solid;
   // margin: 1px 7px 2px ;

   }
  }
@media screen and (max-width:768px){
  .App-header{
  }
  .App-title{
    font-size: 30px;
  }
  .card-container{
    top: -3px;
    min-height: 484px;

  }
  .card-contents{
    height: 480px;
    width: 338px;
  }
  .card-image{
    max-height: 338px;
  }
  .card-text{
    padding-top: 0px;
  }
  .card-text h2{
    font-size: 18px;
  }
  .card-text p{
    font-size: 15px;
    padding: 2px 0;
  }
  .info-button,.info-button-loading {
    width: 50px;
    left: 144px;
    bottom: 7px
  }
  .info-button-loading{
    width: 36px;
    height: 36px;
    color: #fe2a12;
    border-radius: 25px;
    border: 1px solid;
    margin: 1px 7px 2px ;

  }
  .review-button{
    height: 32px;
  }
}
